<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Search and Delete mechanisms -->
<h1>Search for a Person</h1>
<form action="{% url "aucper" %}" method="get" id="search">
  <input name="q" type="text" placeholder="Search...">
</form>
<h1>Delete based on ID</h1>
<form action="{% url "aucper" %}" method="get" id="delete">
  <input name="d" type="text" placeholder="Search...">
</form>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>

<h1> Auction/Person List </h1>

<table title="table">
<th>Id</th>
<th>Auction</th>
<th>Person</th>
<tr>
{% for obj in aucper %}
    <td>{{ obj.id }}</td>
    <td>{{ obj.auct.id}}</td>
    <td>{{ obj.pers.id }}</td>

</tr>
{% endfor %}
</table>
    <a href="{% url 'home' %}">Home</a>
    <form>
    <a href="javascript:history.back()">Go Back</a>
    </form>
    <a href= "{% url 'add_auc_per' %}"> Add a  Auction Person </a>
  </body>
</html>