<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1> Welcome Home.</h1>
<a href="{% url 'manu' %}">Manufacturers</a>
<br />
<a href="{% url 'add_Manu' %}">Add a Manufacturer</a>
<br />
<a href="{% url 'auc' %}">Auctions</a>
<br />
<a href="{% url 'add_Auc' %}">Add an Auction</a>
<br />
<a href="{% url 'vec' %}">Vehicles</a>
<br />
<a href="{% url 'add_vec' %}">Add a Vehicle</a>
<br />
<a href="{% url 'car' %}">Cars</a>
<br />
<a href="{% url 'add_car' %}">Add a Car</a>
<br />
<a href="{% url 'per' %}">People</a>
<br />
<a href="{% url 'add_per' %}">Add a Person</a>



</body>
</html>